/* Variabes */
/* Mixin's */
body {
  background-image: url("backs.png");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.wrappper {
  width: 100%;
  margin: 0 auto;
}
.wrappper:after {
  content: "I"; /* dont remove "I" */
  display: table;
  clear: both;
}

canvas {
  color: #fff;
  border: #fff dashed 2px;
  padding: 15px;
}

h1, h2, h3 {
  font-family: 'chewy', sans-serif;
  font-weight: 200;
  margin: 15px 0;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.6em;
}

p {
  font-family: 'Papyrus', sans-serif;
  font-size: 1.8em;
  color: white;
-webkit-text-stroke-width: 2px;
  font-weight: 300;
}

#alphabet {
  margin: 15px auto;
  padding: 50;
  max-width:450px;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 2px;
  background: #fff;
  color: #3498db;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: solid 1px #fff;
}
#alphabet li:hover {
  background: #34495e;
  border: solid 1px #fff;
  color: #fff;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  transition: all 1s ease-in;
  transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}
.active:hover {
  transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background: #ffffff;
  color: #3e3e3e;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 150px;
  margin: 10px;
  outline: none;
}
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #95a5a6;
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}

/* ========= MOBILE FIXES ========= */
@media (max-width: 767px) {
	.navbar-brand { padding:15px!important; font-size:1.8em!important }
	.intro-message > h1 { font-size:2.5em!important; padding-top:30%!important }
	.grid__item { height:auto!important; min-height:300px!important; padding:20px 0!important }
	.link--manko { font-size:3em!important; line-height:1.2!important }
	.rows { padding:20px 15px!important }
  }
  
  .btn-block { min-width:200px; margin:10px auto; padding:15px }
  .section-padding { padding:30px 0 }
  html { overflow-x:hidden }
  
  @media (hover: none) {
	.link--manko:hover { color:#0c4769!important }
  }
